<p id="notice"><%= notice %></p>

<h1><%= @cd.name %></h1>

<div class="contains">
  <div class="col-md-4">
    <%= image_tag(@cd.image.url(:large), :class => 'cover-image') %>
  </div>

  <div class="col-md-8">
    <p>
      <strong>Artiste:</strong>
      <%= @cd.artist %>
    </p>

    <p>
      <strong>Editeur:</strong>
      <%= @cd.editor %>
    </p>

    <p>
      <strong>Année:</strong>
      <%= @cd.year %>
    </p>

    <p>
      <strong>Style:</strong>
      <%= @cd.gender %>
    </p>

    <p>
      <strong>Date d'achat:</strong>
      <%= @cd.purchaseDate %>
    </p>

    <%= link_to 'Edit', edit_cd_path(@cd) %>
  </div>
</div>

<div class="col-md-12">
  <%= render :template => 'tracks/index' %>
</div>
