<h1><%= @cd.name %>
  <%= link_to edit_cd_path(@cd), :class=>"btn btn-default" do%>
    <i class="glyphicon glyphicon-edit black"></i>
  <% end %>
</h1>

<div class="container">
  <div class="col-md-4">
    <%= image_tag(@cd.image.url(:large), :class => 'cover-image') %>
  </div>

  <div class="col-md-8">
    <p>
      <strong>Artiste:</strong>
      <%= @cd.artist %>
    </p>

    <p>
      <strong>Editeur:</strong>
      <%= @cd.editor %>
    </p>

    <p>
      <strong>Année:</strong>
      <%= @cd.year %>
    </p>

    <p>
      <strong>Genre</strong>
      <%= @cd.gender %>
    </p>

    <p>
      <strong>Date d'achat:</strong>
      <%= @cd.purchaseDate %>
    </p>
    
    <% unless @cd.description.blank? %>
      <p>
        <strong>Description:</strong>
        <%= @cd.description %>
      </p>
    <% end %>

  </div>
</div>

<div class="col-md-6">
  <%= render :template => 'tracks/index'%>
</div>
