<p id="notice"><%= notice %></p>

<h1>Détails de l'album</h1>


<%= render 'form' %>

<div>
  <img class="cover-image col-md-4" src="http://lorempixel.com/128/128/">
  <%= yield %>
</div>


<%= link_to 'Edit', @cd %>

<div>
  <%= render :template => 'tracks/index' %>
</div>
