<%= form_for([@track.cd, @track]) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
        <% @track.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "N°" %>
    <% if :track_number? %>
      <%= f.number_field :track_number, :value => (Track.where(cd_id: @track.cd_id).size + 1) %>
    <% else %>
      <%= f.number_field :track_number%>
    <% end %>
  </div>

  <div class="field">
    <%= f.label "Titre" %>
    <%= f.text_field :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
