<h1>Tracks</h1>

<table>
  <thead>
    <tr>
      <th>N°</th>
      <th>Title</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.track_number %></td>
        <td><%= track.title %></td>
        <td><%= link_to 'Edit', edit_cd_track_path(track.cd_id, track) %></td>
        <td><%= link_to 'Destroy', tracks_path(track.cd_id, track), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Ajouter une piste', new_track_path() %>


