<h1>
  <% if @cd.tracks.blank? %>
      Piste
  <% else %>
      <%= pluralize(@cd.tracks.size, "Piste") %>
  <% end %>
  <% if is_cd_owner(@cd) %>
      <%= link_to new_cd_track_path(@cd), :class => "btn btn-default" do %>
          <i class="glyphicon glyphicon-plus black"></i>
      <% end %>
  <% end %>
</h1>



<% if @cd.tracks.empty? %>
    <p>Aucune piste ajoutée pour cet album</p>
<% else %>
    <table class="table table-hover">
      <thead>

      <tr>
        <th>#</th>
        <th>Titre</th>

        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @tracks.each do |track| %>
          <tr>
            <td><%= track.track_number %></td>
            <td><%= track.title %></td>
            <td class="text-right">
              <% if is_cd_owner(@cd) %>
              <%= link_to edit_cd_track_path(track.cd_id, track) do %>
                  <i class="glyphicon glyphicon-edit black"></i>
              <% end %>
              <%end%>

              <% if is_cd_owner(@cd) %>
              <%= link_to cd_track_path(track.cd_id, track), method: :delete, data: {confirm: 'êtes vous sûr?'} do %>
                  <i class="glyphicon glyphicon-trash black"></i>
              <% end %>
              <%end%>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>



