<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @track.title %>
</p>

<p>
  <strong>Tracknumber:</strong>
  <%= @track.track_number %>
</p>

<p>
  <strong>Cd:</strong>
  <%= @track.cd_id %>
</p>

<%= link_to 'Edit', edit_cd_track_path() %>


