<h1>List des utilisateurs</h1>
<div class="pull-right">
  <%= form_tag users_path, :method => 'get',:class=>"form-inline" do %>
  <div class="form-group">
    <%= text_field_tag :search, params[:search],:class=>"form-control",:placeholder=>"pseudo de l'utilisateur" %>
    <%= submit_tag "Search", :name => nil, :class=>"btn btn-default"%>
  </div>
  <%end%>
</div>



<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Firstname</th>
      <th>Pseudo</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.firstname %></td>
        <td><%= user.pseudo %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
