<h1>Liste des utilisateurs</h1>
<div class="pull-right input-group add-on">
  <%= form_tag users_path, :method => 'get',:class=>"form-inline" do %>
  <div class="form-group input-group add-on">
    <%= text_field_tag :search, params[:search],:class=>"form-control",:placeholder=>"pseudo de l'utilisateur" %>
    <div class="input-group-btn">
    <button class="btn btn-default bg-blue" type="submit"><i class="glyphicon glyphicon-search white"></i></button>
    </div>
  </div>
  <%end%>
</div>



<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Pseudo</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.firstname %></td>
        <td><%= user.pseudo %></td>
        <td><%= user.email %></td>
        <td class>
          <%= link_to user do %>
          <i class="glyphicon glyphicon-eye-open blue"></i>
<% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
