<h2>Profil de l'utilisateur <%= @user.pseudo %></h2>

<p>
  <strong>Nom:</strong>
  <%= @user.name.blank? ? "-" : @user.name %>
</p>

<p>
  <strong>Prénom:</strong>
  <%= @user.firstname.blank? ? "-" : @user.firstname %>
</p>

<p>
  <strong>Pseudo:</strong>
  <%= @user.pseudo %>
</p>

<p>
  <strong>Date de naissance:</strong>
  <%= @user.birthdate %>
</p>

<% if @item_collection.is_private %>

    <% unless current_user.nil? %>
        <% if @item_collection.user_id == current_user.id %>
            <%= link_to("Collection de "+@user.pseudo, item_collection_path(@user.item_collections.first), :class => "btn btn-primary") %>
        <% end %>
    <% end %>
<% else %>
    <%= link_to("Collection de "+@user.pseudo, item_collection_path(@user.item_collections.first), :class => "btn btn-default") %>
<% end %>
<% unless current_user.nil? %>
    <% if current_user.id == @user.id %>
        <%= link_to("Modifier", edit_user_registration_path, :class => "btn btn-default") %>
    <% end %>
<% end %>