<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Pseudo:</strong>
  <%= @user.pseudo %>
</p>

<p>
  <strong>Anonym:</strong>
  <%= @user.anonym %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @user.birthdate %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
  
<%= link_to("modifier", edit_user_registration_path,:class=>"btn btn-default") %>
<%= link_to("Collection de "+@user.pseudo, item_collection_path(@user.item_collections.first),:class=>"btn btn-default") %>