<%= form_for(@item_collection) do |f| %>
  <% if @item_collection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_collection.errors.count, "error") %> prohibited this item_collection from being saved:</h2>

      <ul>
      <% @item_collection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name ,:class=>'input form-control'%>
  </div>
  <div class="field">
    <%= f.label :beginDate %><br>
    <%= f.date_select :beginDate ,:start_year=>Date.today.year - 100, :end_year => Time.now.year,:class=>'input form-control'%>
  </div>

  <div class="field">
    <%= f.label "Collection privé" %>
    <%= f.check_box :isPrivate%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
