<h2>Se connecter</h2>

<%= form_for(:user, :url => session_path(:user)) do |f| %>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<% end %>

  <div class="input field form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true ,:class=>'form-control',:placeholder => "Email"%>
  </div>

  <div class="input field form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off",:class=>'form-control',:placeholder => "mot de passe" %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "mot de passe oublié?", new_password_path(resource_name)%><br />
<% end -%>
  </div>


  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
    <%= f.label "se souvenir de moi" %>
    </div>
  <% end -%>

  <div class="actions">
      <%= f.submit "se connecter",:class=>"btn btn-default" %>
<%= link_to "s'enregistrer", new_registration_path(resource_name),:class=>"btn btn-default" %>
  </div>
<% end %>
