<h1 class="text-center"><%= @collection_name %></h1>

<% if @cds.nil? || @cds.size == 0 %>
    <h4>Aucun élément présent dans cette collection</h4>
    <%= link_to 'Ajouter un CD', new_cd_path(:item_collection => @item_collection), :class => 'btn btn-success' %>
<% else %>
    <div class="row">
      <div class="dropdown" id="dd-menu-sort">
        <button class="btn btn-default dropdown-toggle" type="button" id="dd-menu-sort-btn" data-toggle="dropdown" aria-expanded="true">
          Choisir un tri
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dd-menu-sort-btn">
          <li role="presentation">
            <%= link_to 'Trier par date d\'ajout croissant', params.merge('sort' => 'nameDesc'), :role => 'menuitem' %>
          </li>
          <li role="presentation">
            <%= link_to 'Trier par date d\'ajout décroissant', params.merge('sort' => 'dateDesc'), :role => 'menuitem' %>
          </li>

          <li role="presentation">
            <%= link_to 'Trier par nom croissant', params.merge('sort' => 'name'), :role => 'menuitem' %>
          </li>
          <li role="presentation">
            <%= link_to 'Trier par nom décroissant', params.merge('sort' => 'nameDesc'), :role => 'menuitem' %>
          </li>
        </ul>
              <div class="pull-right input-group add-on">
          <%= form_tag item_collections_path, :method => 'get',:class=>"form-inline" do %>
          <div class="form-group input-group add-on">
            <%= text_field_tag :search, params[:search],:class=>"form-control",:placeholder=>"Nom de la collection" %>
            <div class="input-group-btn">
            <button class="btn btn-default bg-blue" type="submit"><i class="glyphicon glyphicon-search white"></i>        </button>
            </div>
          </div>
          <%end%>
          </div>
      </div>
    </div>

    <% @badge_colors = "warning,danger,success,default".split(",") %>
    <ul class="timeline">
      <% i = 1 %>
      <li <%= raw 'class="timeline-inverted"' if i%2!=0 %>>
        <div class="timeline-badge <%= @badge_colors.sample %>"><i class="glyphicon glyphicon-cd"></i></div>
        <div class="timeline-panel">
          <div class="timeline-body">
            <%= link_to new_cd_path(:item_collection => @item_collection) do %>
                <div class="text-center add-cd-icon">
                  <span class="glyphicon glyphicon-plus"></span>
                </div>
            <% end %>
          </div>
        </div>
      </li>
      <% @cds.each do |cd| %>
          <% i+= 1 %>
          <li <%= raw 'class="timeline-inverted"' if i%2==0 %>>
            <div class="timeline-badge <%= @badge_colors.sample %>"><i class="glyphicon glyphicon-cd"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <% cd_title = cd.name + ' par ' + cd.artist %>
                <h4 class="timeline-title"><%= link_to(cd_title, cd_path(cd)) %></h4>

                <p>
                  <small class="text-muted"><i class="glyphicon glyphicon-time"></i>
                    Ajouté le <%= cd.created_at.strftime('%d/%m/%Y') %> à <%= cd.created_at.strftime('%H:%M') %></small>
                </p>
              </div>
              <div class="timeline-body">

                <div class="row well well-sm">
                  <div class="album-metadata">
                    <div class="cover-image col-md-4">
                      <%= image_tag(cd.image.url(:med)) %>
                    </div>
                    <ul class="album-details col-md-8">
                      <li><span class="metadata-header">Album</span><%= cd.name %></li>
                      <li><span class="metadata-header">Artiste</span><%= cd.artist %></li>
                      <li><span class="metadata-header">Année</span><%= cd.year %></li>
                      <li><span class="metadata-header">Genre</span><%= cd.gender %></li>

                      <li><span class="metadata-header">Nombre de pistes</span><%= cd.tracks.size unless cd.tracks.blank? %>
                      </li>
                    </ul>
                  </div>
                </div>

                <% unless cd.description.nil? || cd.description == '' %>
                    <p class="description_header">Description</p>

                    <p><%= cd.description %></p>
                <% end %>

                <hr>
                <div class="row">
                  <div class="container col-sm-12">
                    <%= link_to cd_path(cd), :class => 'button btn btn-default' do %>
                        Voir en détails <i class="glyphicon glyphicon-triangle-right"></i>
                    <% end %>

                    <%= link_to cd_path(cd), :class => 'button btn btn-default', :confirm => 'Are you sure?', :method => :delete do %>
                        Supprimer <i class="glyphicon glyphicon-trash"></i>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </li>
      <% end %>
<% end %>
</ul>